* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.flex-container {
  background-color: aqua;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex-item {
  width: 100vw;
  background-color: antiquewhite;
  /* flex: 1; */
}
.flex-item:nth-child(odd) {
  background-color: coral;
}

.main-container {
  flex: 1;
  display: flex;
}
.main-sidebar {
  background-color: rgb(143, 91, 13);
  padding: 10px;
  margin-right: 10px;
}
.main-wrap,
.header,
.footer {
  padding: 10px;
}
